In [2]:
import pandas as pd

In [3]:
#We now import the csv files downloaded from stackexchaneg 
df1= pd.read_csv('C:/Users/98rah/Desktop/ASSIGNMENT/CA675-ASSIGNMENT_1/QueryResults_1.csv')
df2= pd.read_csv('C:/Users/98rah/Desktop/ASSIGNMENT/CA675-ASSIGNMENT_1/QueryResults_2.csv')
df3= pd.read_csv('C:/Users/98rah/Desktop/ASSIGNMENT/CA675-ASSIGNMENT_1/QueryResults_3.csv')
df4= pd.read_csv('C:/Users/98rah/Desktop/ASSIGNMENT/CA675-ASSIGNMENT_1/QueryResults_4.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     50000 non-null  int64
 1   PostTypeId             50000 non-null  int64
 2   AcceptedAnswerId       42287 non-null  float64
 3   ParentId               0 non-null      float64
 4   CreationDate           50000 non-null  object
 5   DeletionDate           0 non-null      float64
 6   Score                  50000 non-null  int64
 7   ViewCount              50000 non-null  int64
 8   Body                   50000 non-null  object
 9   OwnerUserId            48533 non-null  float64
 10  OwnerDisplayName       5543 non-null   object
 11  LastEditorUserId       42892 non-null  float64
 12  LastEditorDisplayName  3461 non-null   object
 13  LastEditDate           43446 non-null  object
 14  LastActivityDate       50000 non-null  object
 15  Title                  50000 non-null  object
 16  Tags                   50000 non-null  object
 17  AnswerCount            50000 non-null  int64
 18  CommentCount           50000 non-null  int64
 19  FavoriteCount          49884 non-null  float64
 20  ClosedDate             4628 non-null   object
 21  CommunityOwnedDate     518 non-null    object
 22  ContentLicense         50000 non-null  object
dtypes: float64(6), int64(6), object(11)
memory usage: 8.8+ MB

In [6]:
#Removes the html tags, tab space, line breaks from 'Body', 'Title' cloumns
df1['Body'] = df1['Body'].apply(lambda a: re.sub('<.*?>|\\t*\\r*\\n*\\s+',' ',a));
df1['Title'] = df1['Title'].apply(lambda b: re.sub('<.*?>|\\t*\\r*\\n*\\s+',' ',b));

df2['Body'] = df2['Body'].apply(lambda c: re.sub('<.*?>|\\t*\\r*\\n*\\s+',' ',c));
df2['Title'] = df2['Title'].apply(lambda d: re.sub('<.*?>|\\t*\\r*\\n*\\s+',' ',d));

df3['Body'] = df3['Body'].apply(lambda e: re.sub('<.*?>|\\t*\\r*\\n*\\s+',' ',e));
df3['Title'] = df3['Title'].apply(lambda f: re.sub('<.*?>|\\t*\\r*\\n*\\s+',' ',f));

df4['Body'] = df4['Body'].apply(lambda g: re.sub('<.*?>|\\t*\\r*\\n*\\s+',' ',g));
df4['Title'] = df4['Title'].apply(lambda h: re.sub('<.*?>|\\t*\\r*\\n*\\s+',' ',h));

In [13]:
df1.info()
df2.info()
df3.info()
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     50000 non-null  int64
 1   PostTypeId             50000 non-null  int64
 2   AcceptedAnswerId       42287 non-null  float64
 3   ParentId               0 non-null      float64
 4   CreationDate           50000 non-null  object
 5   DeletionDate           0 non-null      float64
 6   Score                  50000 non-null  int64
 7   ViewCount              50000 non-null  int64
 8   Body                   50000 non-null  object
 9   OwnerUserId            48533 non-null  float64
 10  OwnerDisplayName       5543 non-null   object
 11  LastEditorUserId       42892 non-null  float64
 12  LastEditorDisplayName  3461 non-null   object
 13  LastEditDate           43446 non-null  object
 14  LastActivityDate       50000 non-null  object
 15  Title                  50000 non-null  object
 16  Tags                   50000 non-null  object
 17  AnswerCount            50000 non-null  int64
 18  CommentCount           50000 non-null  int64
 19  FavoriteCount          49884 non-null  float64
 20  ClosedDate             4628 non-null   object
 21  CommunityOwnedDate     518 non-null    object
dtypes: float64(6), int64(6), object(10)
memory usage: 8.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     50000 non-null  int64
 1   PostTypeId             50000 non-null  int64
 2   AcceptedAnswerId       41271 non-null  float64
 3   ParentId               0 non-null      float64
 4   CreationDate           50000 non-null  object
 5   DeletionDate           0 non-null      float64
 6   Score                  50000 non-null  int64
 7   ViewCount              50000 non-null  int64
 8   Body                   50000 non-null  object
 9   OwnerUserId            48750 non-null  float64
 10  OwnerDisplayName       3786 non-null   object
 11  LastEditorUserId       38570 non-null  float64
 12  LastEditorDisplayName  2216 non-null   object
 13  LastEditDate           39074 non-null  object
 14  LastActivityDate       50000 non-null  object
 15  Title                  50000 non-null  object
 16  Tags                   50000 non-null  object
 17  AnswerCount            50000 non-null  int64
 18  CommentCount           50000 non-null  int64
 19  FavoriteCount          49180 non-null  float64
 20  ClosedDate             4091 non-null   object
 21  CommunityOwnedDate     235 non-null    object
dtypes: float64(6), int64(6), object(10)
memory usage: 8.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     50000 non-null  int64
 1   PostTypeId             50000 non-null  int64
 2   AcceptedAnswerId       40696 non-null  float64
 3   ParentId               0 non-null      float64
 4   CreationDate           50000 non-null  object
 5   DeletionDate           0 non-null      float64
 6   Score                  50000 non-null  int64
 7   ViewCount              50000 non-null  int64
 8   Body                   50000 non-null  object
 9   OwnerUserId            48783 non-null  float64
 10  OwnerDisplayName       3338 non-null   object
 11  LastEditorUserId       36521 non-null  float64
 12  LastEditorDisplayName  1909 non-null   object
 13  LastEditDate           37036 non-null  object
 14  LastActivityDate       50000 non-null  object
 15  Title                  50000 non-null  object
 16  Tags                   50000 non-null  object
 17  AnswerCount            50000 non-null  int64
 18  CommentCount           50000 non-null  int64
 19  FavoriteCount          48104 non-null  float64
 20  ClosedDate             3836 non-null   object
 21  CommunityOwnedDate     175 non-null    object
dtypes: float64(6), int64(6), object(10)
memory usage: 8.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     50000 non-null  int64
 1   PostTypeId             50000 non-null  int64
 2   AcceptedAnswerId       40389 non-null  float64
 3   ParentId               0 non-null      float64
 4   CreationDate           50000 non-null  object
 5   DeletionDate           0 non-null      float64
 6   Score                  50000 non-null  int64
 7   ViewCount              50000 non-null  int64
 8   Body                   50000 non-null  object
 9   OwnerUserId            48798 non-null  float64
 10  OwnerDisplayName       3042 non-null   object
 11  LastEditorUserId       35302 non-null  float64
 12  LastEditorDisplayName  1811 non-null   object
 13  LastEditDate           35806 non-null  object
 14  LastActivityDate       50000 non-null  object
 15  Title                  50000 non-null  object
 16  Tags                   50000 non-null  object
 17  AnswerCount            50000 non-null  int64
 18  CommentCount           50000 non-null  int64
 19  FavoriteCount          46961 non-null  float64
 20  ClosedDate             3532 non-null   object
 21  CommunityOwnedDate     128 non-null    object
dtypes: float64(6), int64(6), object(10)
memory usage: 8.4+ MB

In [7]:
df=df1.append(df2)
df=df.append(df3)
df=df.append(df4)

In [10]:
df.to_csv("C:/Users/98rah/Desktop/ASSIGNMENT/CA675-ASSIGNMENT_1/FINAL_DF.csv", index=False)